body{
	background: GhostWhite;
	margin: 0;
	padding: 0;
}

.clr
{
	clear: both;
}

#banner{
	background: #333;
    height: 150px;
    width: 100%;	
	color: white;
	display: inline-block;
}

#site-title
{
	padding-top: 10px;
	font-size: 2em;
	text-align: center;
	font-family: 'Space Mono', monospace;
}

#subtitle{
	font-family: 'Space Mono', monospace;
	text-align: center;

}

#main{
	position: static;
}

nav {
	text-align: center;
}

nav button
{
	font-family: 'Space Mono', monospace;	
	border: transparent;
	/*border-bottom: 2px #555 solid;*/
	border-radius: 4px;
	margin-top: 10px;
	padding: 5px 10px;
	margin-left: 10px; 
	color: white;
  	background-color: transparent;
}

.active{
	border-bottom: 2px #555 solid;	


}
nav button:hover{
	background-color: #20B2AA;
}

.articleTitle{
	font-size: 2em;
}


article{
	color: black;
	background-color: white;
	font-family: 'Space Mono', monospace;
	font-size: 13px;
	width: 800px;
	margin: 40px auto;
	padding: 5px 10px;
	/*border: 1px solid rgba(233,233,233, 0.4);*/
    border-radius: 5px;
    /*box-shadow: 0 0 0 0, 0 6px 12px rgba(34,34,34,0.1);*/
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19)
}
